@import "../../scss/variables";
@import "../../scss/mixins";
.clicked {
  transition: 0.1s;
  &:active {
    transform: rotateX(90deg);
  }
}
img {
  object-fit: contain;
  width: 35%;
}
header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  @include linear-background;
}
fa-icon {
  margin-right: 30px;
  color: white;
  cursor: pointer;
}
