<h1>
  <img
    src="../../assets/images/icon-left-font-monochrome-black.png"
    alt="logo Groupomania"
  />Inscription
</h1>
<div class="container">
  <h2>Bienvenu dans l'aventure Groupomania !</h2>
  <p>
    Parce qu'une entreprise n'est rien sans le bien être de ceux qui la
    composent, cette application vas vous offrir un espace d'échange amical
    entre collègues.
  </p>
  <h3>C'est à vous, renseignez ci dessous:</h3>
  <form novalidate (ngSubmit)="sendNewUser()" [formGroup]="signinForm">
    <div class="form-group">
      <label for="pseudo">Un prénom ou un pseudonyme</label>
      <input
        id="pseudo"
        class="form-control"
        aria-describedby="votre prénom"
        type="text"
        formControlName="pseudo"
        placeholder="prénom/pseudonyme"
        [ngClass]="{
          'is-invalid': signinForm.controls['pseudo'].touched && !signinForm.controls['pseudo'].valid
        }"
        [ngClass]="{
          'is-valid': signinForm.controls['pseudo'].touched && signinForm.controls['pseudo'].valid
        }"
      />
      <small
        *ngIf="signinForm.controls['pseudo'].errors"
        id="pseudoAssistant"
        class="invalid-feedback mb-3"
        ><span>Ce champ dois contenir au moins 2 caractères</span></small
      >
    </div>
    <div class="form-group">
      <label for="email">Une adresse mail valide</label>
      <input
        type="email"
        id="email"
        aria-describedby="emailHelp"
        placeholder="exemple@mail.com"
        class="form-control"
        formControlName="email"
        [ngClass]="{
          'is-invalid': signinForm.controls['email'].touched && !signinForm.controls['email'].valid
        }"
        [ngClass]="{
          'is-valid': signinForm.controls['email'].touched && signinForm.controls['email'].valid
        }"
      />
      <small
      *ngIf="signinForm.controls['email'].errors"
        class="invalid-feedback mb-3"
      >
        <span>Cet email n'est pas valide.</span>
      </small>
    </div>
    <div class="form-group">
      <label for="password"
        >Un mot ou une phrase de passe façile à retenir pour vous mais d'au moins 9 caractères :</label
      >
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="exemple : 'J'ai 1 super Patron!'"
        formControlName="password"
        [ngClass]="{
          'is-invalid': signinForm.controls['password'].touched && !signinForm.controls['password'].valid
        }"
        [ngClass]="{
          'is-valid': signinForm.controls['password'].touched && signinForm.controls['password'].valid
        }"
      />
      <small
      *ngIf="signinForm.controls['password'].errors"
        id="pseudoAssistant"
        class="invalid-feedback mb-3"
        ><span>Mot de passe trop cours</span></small
      >
    </div>
    <div class="form-check">
      <input type="checkbox" formControlName="userCheck" value="ok" class="form-check-input" id="conditionsAcceptator" />
      <label class="form-check-label" for="conditionsAcceptator">J'accepte les <a class="link" routerLink="/cgi">conditions d'utilisation</a></label>
    </div>
    <button *ngIf="signinForm.valid" type="submit" class="btn-gpm">Je m'inscris</button>

</form>