@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/utils";
@import "../../scss/keyframes";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 25%;
}
form {
  color: $tertiaryColor;
  width: 80%;
  height: 80%;
  label {
    color: black;
    font-weight: 500;
    margin-top: 20px;
  }
  .form-check-input {
    margin-top: 25px;
  }
  .error{
    @include centralizer;
    animation :box-deployment 3s both;
    text-align: center
  }
}
.wrapper-bottom{
  @include centralizer;
  width: 100%;
  a.connection-page {
    @include gradient-text;
    @include centralizer;
    text-align: center;
    color:$tertiaryColor;
    font-weight: bold;
    font-size: small;
    box-shadow: $tertiaryColor 0px 0px 5px;
    border-radius: 15px;
    padding: 10px;
    min-width: 140px;
    max-width: 140px;
    height: 64px;
  }
}