@import "../../scss/variables";
@import "../../scss/mixins";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 25%;
}
form {
  color: $tertiaryColor;
  width: 80%;
  height: 80%;
  label {
    color: black;
    font-weight: 500;
    margin-top: 20px;
  }
  .form-check-input {
    margin-top: 25px;
  }
  a.connection-page {
    @include gradient-text;
    position: absolute;
    font-weight: bold;
    right:15px;
    bottom:25px;
    box-shadow: $tertiaryColor 0px 0px 5px;
    border-radius: 20px;
    padding: 10px;
  }
}
