<nav class="fixed row m">
  <a routerLink="/myprofile" class="icon-wrapper">
    <fa-icon [icon]="faAddressCard" class="fa-2x clicked"></fa-icon>
    <!-- <p class="icon-description">mon profile</p> -->
  </a>
  <a routerLink="/newpost" class="icon-wrapper">
    <fa-icon [icon]="faComment" class="fa-2x clicked"></fa-icon>
    <!-- <p class="icon-description">créer un post</p> -->
  </a>
  <a (click)="setPost()" class="icon-wrapper">
    <fa-icon [icon]="faEraser" class="fa-2x clicked"></fa-icon>
    <!-- <p class="icon-description">corriger/suprimer un post</p> -->
  </a>
  <a routerLink="/favories" class="icon-wrapper">
    <fa-icon [icon]="faStar" class="fa-2x clicked"></fa-icon>
    <!-- <p class="icon-description">date picker</p> -->
  </a>
</nav>
