@import "../../scss/styles";
.container {
  background-color: $tertiaryColor;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-width: 100%;
  }
}
form.login {
  margin-bottom: 400px;
  width: 70%;
  max-width:400px;
  min-height: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  color: white;
  border: double 4px white;
  input {
    min-width: 60%;
    border-bottom: solid white 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: $tertiaryColor;
    color: white;
  }
  a {
    color: $secondaryColor;
    cursor: pointer;
  }
}
p.error{
color:$tertiaryColor;
font-weight: bold;
text-align: center;
background-color: $secondaryColor;
animation: box-deployment 2s both
}
