<app-header></app-header>
<main class="container">
  <h1>Mon profil</h1>
  <div class="card">
    <form novalidate (ngSubmit)="sendProfile()" [formGroup]="updateProfileForm">
      <img
        (click)="changePhoto()"
        [src]="actualProfile.photo"
        alt="ma photo de profile"
        class="photo-profile"
      />
      <input
        id="photo"
        accept="image/*"
        aria-describedby="ma photo de profile"
        type="file"
        (change)="photoSelected($event)" 
        class="form-control card-subtitle mb-2"
        value="{{actualProfile.photo}}"
      />

      <input
        id="name"
        aria-describedby="nom d'utilisateur"
        placeholder="{{ actualProfile.name }}"
        type="text"
        formControlName="name"
        class="form-control card-subtitle mb-2"
      />
      <input
        id="email"
        aria-describedby="nom d'utilisateur"
        placeholder="{{ actualProfile.email }}"
        type="email"
        formControlName="email"
        class="form-control card-subtitle mb-2"
      />
      <fa-icon
        type="submit"
        [icon]="faFloppyDisk"
        class="fa-2x clicked"
      ></fa-icon>
    </form>
  </div>
</main>
