@import "../../scss/styles";
main {
  display: flex;
  // version mobile
  flex-direction: column;
  padding-top: 17%;
}
.message {
  position: fixed;
  top: 12%;
  width: 100%;
  color: $tertiaryColor;
  font-weight: bold;
  text-align: center;
  background-color: $secondaryColor;
  animation: box-deployment 3s forwards;
  z-index: 5;
}

section.post-area {
  // width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  .card {
    margin: 50px;
    border-radius: 20px;
    border: double 4px $tertiaryColor;
    min-width: 60%;
    position: relative;
    h6 {
      margin-left: 15px;
    }
    .post-content {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
.new-post-notice {
  z-index: 1;
  position: absolute;
  top: 0;
  right: -5px;
  color: purple;
  font-weight: bold;
  text-shadow: $tertiaryColor 5px 5px 10px;
  transform: rotateZ(25deg);
}
.new-post-card {
  box-shadow: purple 0px 0px 15px;
}
.correctable {
  box-shadow: $primaryColor 0px 0px 15px;
}
.post-title {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  top: -38px;
  max-width: max-content;
  img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: double $tertiaryColor 3px;
    width: 50px;
    height: 50px;
    object-fit: fill;
    margin-right: 10px;
  }
  .card-title {
    background-color: white;
  }
}
.like-wrapper {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  position: absolute;
  bottom: -70px;
  left: 25px;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  color: $primaryColor;
  cursor: pointer;

  .obvious-heart {
    left: -43px;
    top: -43px;
    position: relative;
    color: $tertiaryColor;
    .score {
      position: absolute;
      top: 25%;
      color: white;
      text-align: center;
      font-size: small;
      font-weight: bolder;
      width: 29px;
      text-overflow: clip;
      &:hover {
        color: $tertiaryColor;
      }
    }
    &:hover {
      color: $secondaryColor;
    }
  }
  .liked-state {
    opacity: 1;
    transform: scale(1.2) translateX(7px);
    background-color: white;
    animation: liked-heart 0.4s;
  }
  .unliked-state {
    opacity: 0;
  }
}
.small-icon {
  @include centralizer;
  @include small-medal;
  &-right {
    position: absolute;
    right: 25px;
    bottom: -20px;
    cursor: pointer;
  }
  &-left {
    left: -43px;
    top: -7px;
    position: relative;
  }
  &-correct-it {
    color: $primaryColor;
  }
}

.correctingModBtn {
  position: fixed;
  right: 10px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  transition: 0.8s;
  @include medal-dark;
  @include centralizer;
}
.correctingModEnabled {
  transform: rotateY(-1turn);
  @include medal-red;
}
