<app-header></app-header>
<main>
  <section class="post-area">
    <div *ngFor="let post of posts" class="card" style="width: 18rem">
      <!-- <fa-icon *ngIf="post.author == user.pseudo && correctingMod" [icon]="faEraser" class="fa-2x clicked"></fa-icon> -->
      <div class="card-body">
        <h5 class="card-title">{{ post.title | titlecase }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          de {{ post.authorName | uppercase }}
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          le {{ post.createdAt | date: "dd MMMM. à HH:mm" }}
        </h6>
        <img
          *ngIf="post.imageUrl !== ''"
          [src]="post.imageUrl"
          alt="{{ post.textContent }}"
          class="card-img"
        />
        <p class="card-text">
          {{ post.textContent }}
        </p>
      </div>
      <div
        (click)="addComment()"
        [ngClass]="commentArea ? 'card comment-wrapper' : 'comment-btn'"
      >
        <fa-icon
          [icon]="faCommenting"
          class="fa-2x clicked comment-icon"
        ></fa-icon>
        <div *ngIf="commentArea" class="comment-body">
          <input />
        </div>
      </div>
      <div class="like-wrapper">
        <fa-icon [icon]="faHeart"class="obvious-heart" score="22"></fa-icon>

        J'<fa-icon [icon]="faHeart" 
        ngClass="isliked(post.id)'liked-state':'not-liked'"
        class="likedState"></fa-icon>
        ce post !
      </div>
        </div>
  </section>
  <app-navbar></app-navbar>
</main>
