@import "../../scss/variables";
main {
  display: flex;
}
h5{
  transform: translateY(-35px);
  background-color: white;
  width: max-content;
}
section.post-area {
  margin-top: 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .card {
    margin: 50px;
    border-radius: 20px;
    border: double 4px $tertiaryColor;
    min-width: 60%;
    position: relative;
  }
}
.comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: double $tertiaryColor 3px;
  width: 50px;
  height: 50px;
  color: $tertiaryColor;
  position: absolute;
  background-color: white;
  bottom: -25px;
  right: 25px;
}
.comment-body{width:100%}
.comment-wrapper {
    min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  fa-icon, h6{
      margin-left: 15px;
  }
  input {
    width: 95%;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}
