@import "../../scss/styles";
main {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: $tertiaryColor;
  color: white;
  border: double 4px white;
  margin-bottom: 120px;
  label{
    color: $secondaryColor;
    text-align: center;
    font-size: large;
  }

  #title {
    background-color: $secondaryColor;
    color: $tertiaryColor;
    text-align: center;
    transform: translateY(-20px);
    border: double 4px $tertiaryColor;
    border-radius: 20px;
  }
  #picsInput {
    border: solid 3px $secondaryColor;
    width: 100%;
  }

}
#bottom-form{
  position: relative;
    textarea {
    height: 30%;
    background-color: $secondaryColor;
    color: $tertiaryColor;
    text-align: center;
    transform: translateY(50px);
    border: double 4px $tertiaryColor;
    border-radius: 20px;
    
  }

  fa-icon {
    position: absolute;
    bottom: -60px;
    right: -51px;
    @include medal-white;
    @include centralizer;
    width: 70px;
    height: 70px;
  }
}
