<app-header></app-header>
<main class="container">
  <h1>Exprimez-vous !</h1>
  <form novalidate (ngSubmit)="sendNewPost()" [formGroup]="newPostForm">
    <div class="card-body">
      <div class="post-title">
        <input
          id="title"
          aria-describedby="titre du post requis"
          placeholder="titre requis"
          type="text"
          formControlName="title"
          class="card-title"
        />
      </div>
      <img
        src="../../assets/images/pics-symbol.png"
        class="card-img"
        (click)="picsRetriver.click()"
      />
      <input
        id="picsInput"
        #picsRetriver
        type="file"
        (change)="selectPic($event)"
      />
      <textarea
        id="comment"
        placeholder="ecrivez ici"
        aria-describedby="image du post"
        type="text-area"
        formControlName="textContent"
        class="form-control card-subtitle mb-2"
      ></textarea>
    </div>
    <button *ngIf="newPostForm.valid" type="submit">
      <fa-icon [icon]="faPaperPlane" class="fa-2x clicked"></fa-icon>
    </button>
  </form>
</main>
