@import "../../scss/variables";
main {
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: $tertiaryColor;
  color: white;
  border: double 4px white;
  position: relative;
}
#title{
  background-color: $secondaryColor;
  color: $tertiaryColor;
  text-align: center;
  transform: translateY(-20px);
  border: double 4px  $tertiaryColor;
  border-radius: 20px;}
#picsInput {
  display: none;
}
textarea{
  height: 30%;
  background-color: $secondaryColor;
  color: $tertiaryColor;
  text-align: center;
  transform: translateY(40px);
  border: double 4px  $tertiaryColor;
  border-radius: 20px;
}
fa-icon {
  position: absolute;
  bottom: -35px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: double $tertiaryColor 4px;
  width: 70px;
  height: 70px;
  background-color: white;
  color: $tertiaryColor;
}
