@keyframes turner {
  30% {
    transform: rotateY(2turn);
  }
  100% {
    transform: rotateY(1turn);
  }
}
@keyframes box-deployment {
  0% {
    transform: scaleX(0);
  }
  10% {
    transform: scaleX(1);
  }
  98% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
  
}
@keyframes liked-heart {
  0% {opacity:0}
  50% {transform: scale(1) }
  99% {transform: scale(1.5) translateX(10%)}
  100% {opacity:1}
}
@keyframes wait {
  0% {opacity:0}
  50% {opacity:1}
  100% {opacity:0}
}
