@mixin centralizer {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin medal-white {
  cursor: pointer;
  border-radius: 50%;
  border: double $tertiaryColor 4px;
  background-color: white;
  color: $tertiaryColor;
}
@mixin medal-dark {
  cursor: pointer;
  border-radius: 50%;
  border: double white 4px;
  background-color: $tertiaryColor;
  color: white;
}
@mixin medal-red {
  cursor: pointer;
  border-radius: 50%;
  border: double $primaryColor 4px;
  background-color: $tertiaryColor;
  color: $primaryColor;
}
@mixin small-medal {
  border-radius: 20px;
  font-size:medium;
  width: 30px;
  height: 30px;
  background-color: $tertiaryColor;
  color: white;
}
