@mixin centralizer {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin medal-white {
  cursor: pointer;
  border-radius: 50%;
  border: double $tertiaryColor 4px;
  background-color: white;
  color: $tertiaryColor;
}
@mixin medal-dark {
  cursor: pointer;
  border-radius: 50%;
  border: double white 4px;
  background-color: $tertiaryColor;
  color: white;
}
@mixin medal-red {
  cursor: pointer;
  border-radius: 50%;
  border: double $primaryColor 4px;
  background-color: $tertiaryColor;
  color: $primaryColor;
}
@mixin small-medal {
  border-radius: 20px;
  font-size:medium;
  width: 30px;
  height: 30px;
  background-color: $tertiaryColor;
  color: white;
}
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $tertiaryColor;
  z-index: 100;
  .center-item{
    position: absolute;
    top: 50%;
    left: 12%;
    img{
      width:80%;
    }
    .load-message{
      color:$primaryColor;
      font-weight: bold;
      text-align: center;
    }
  }
}