@import "./variables";
@import "./mixins";
@import "./keyframes";

body {
  box-sizing: border-box;
  margin: 0;
}

h1{font-size: 72px;
  background: -webkit-linear-gradient(
    120deg,
    black 5%,
    $primaryColor 76%,
    black 100%,
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;}